

@font-face {
    font-family: 'Adina';
    src: local('Adina'), url(fonts/Adina.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
    }

.alternateFont {
    color: #0F0B3B;

    font-size:8vw;
    /*this doesnt work for some reason*/
    font-variant-alternates:styleset(alt-M);
    text-align: center;
}