a{
    color:#F17B28;
    text-shadow: 0 0 5px #000;
}
a:hover
{
    opacity: 0.7;
}

mintButtonClass{
background-color:#F17B28;
color:black;
font-weight: bold;
}

@font-face {
    font-family: 'Adina';
    src: local('Adina'), url(fonts/Adina.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
    }

.alternateFont {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    font-size:xx-large;
    /*this doesnt work for some reason*/
    font-variant-alternates:styleset(alt-M);
}